 body{
     background-color:rgba(235, 247, 234, 0.315);
 }
 header{
     background: wheat;
     margin-left: 200px;
     margin-right: 200px;
 }
 form ol li div{
     margin-top: 10px;

 }

 .main{
    position: relative;
    border:4px solid;
    color:rgb(155, 114, 114);
    
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
    margin: auto;
    /* padding: 5px,5px,5px,5px; */
    margin: auto;
    height: 1128px;
    width: 900px;
 }
 .video{
     position: relative;
     left:250px;
     top:0;
 }
 .r{
    position: relative;
    border:4px solid;
    color:rgb(159, 5, 5);
    
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
    margin: auto;
    /* padding: 5px,5px,5px,5px; */
    margin: auto;
    height: 620px;
    width: 850px;

 }
 ol{
     font-size: 16px;
     color: black;
 }
 ul#menu li{
    display: inline;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    border: 2px solid rgb(12, 48, 207);
    background-color: turquoise;
    border-radius: 5px;
    margin-right: 50px;
    list-style-type: none;
}
ul#gh li,ul#ba li,ul#sa li{
    display: inline;
    font-size: 16px;
    /* border: 2px solid green; */
    margin-right: 1em;
    list-style-type: none;
}
p{
    color: rgb(68, 156, 68);
}
.valid{
    position: relative;
    right: 0;
    bottom: 0;
    /* display: ; */
    height: 50px;
    width: 200px;

}
.validhtml{
    position: absolute;
    display: block;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border: 2px solid;
    border-color: red;
    height: 20px;
    width: 50px;
    right: 0;
    top: 0;
}
.validcss{
    position: absolute;
    display: block;
    margin-top: 0px;
    padding-top: 0px;
    height: 20px;
    width: 50px;
    border:2px solid;
    border-color: greenyellow;
    right: 0;
    bottom: 0; 
}